[Desktop Entry]
Name=Wezterm
Comment=Terminal
Exec=/usr/bin/wezterm.AppImage
Type=Application
Terminal=false
Icon=/usr/share/icons/wezterm/logo.png
NoDisplay=false